.products
  %h1 products



  - @products.each do |product|
    %h2= product.title
    .pull-right
      %b Buy $
      %b= product.price
      %br
      = link_to 'Show', product
      = link_to 'Edit', edit_product_path(product)
      = link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }
    .main_img
      %img{src: product.image_url}
    %p= product.description
    %a= product.link


  %br

  = link_to 'New Product', new_product_path
